<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{applicationTitle}}</title>
<link href="{{static}}/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{{static}}/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="{{static}}/css/piecework.css"/>
<link rel="stylesheet" type="text/css" media="all" href="{{static}}/css/piecework.form.css"/>