<strong>{{processInstanceLabel}}</strong>
<p class="muted">{{processDefinitionLabel}}</p>
<table class="table table-condensed">
    <tr>
        <td><i class="icon-play-circle"></i></td>
        <td>Started</td>
        <td></td>
        <td>{{initiator.displayName}}<br/>
            <span class="text-muted">{{date startTime}}</span></td>
    </tr>
    {{#each events}}
    <tr>
        {{#if task}}
            {{#with task}}
                <td><i class="icon-user"></i></td>
                <td>{{taskLabel}}<br/>
                    <span class="text-muted">{{taskAction}}</span></td>
                <td>{{#unless endTime}}Pending{{else}}{{datediff endTime startTime}}{{/unless}}</td>
            {{/with}}
        {{/if}}
        {{#if operation}}
            <td><i class="{{operation.icon}}"></i></td>
            <td>{{description}}<br/>
                <span class="text-muted">{{operation.reason}}</span></td>
            <td></td>
        {{/if}}
        <td>
            {{user.displayName}}<br/>
            <span class="text-muted">{{date date}}</span>
        </td>
    </tr>
    {{/each}}
    {{#if endTime}}
        <tr>
            <td><i class="icon-off"></i></td>
            <td>Complete</td>
            <td></td>
            <td>{{date endTime}}</td>
        </tr>
    {{/if}}
</table>

<!--
<ul class="tasks">
    <li>
        Process started
        <p class="muted">Initiator: {{initiator.displayName}}</p>
        <p class="muted">Start date: {{date startTime}}</p>
    </li>
    {{#each tasks}}
        <li><i class="icon-code-fork"></i>
            Task {{taskLabel}} created on {{date startTime}}<p/>
            <p>{{#if endTime}}Completed by{{else}}Assigned to{{/if}} {{assignee.displayName}} {{#if endTime}}{{date endTime}}{{/if}}</p>
            <p class="muted">{{datediff endTime startTime}}</p>


        </li>
    {{/each}}
</ul>
-->