<button id="{{id}}" type="button" class="btn" role="button" data-toggle="modal" data-target="#{{id}}_dialog">{{label}}</button>
<div id="{{id}}_dialog" class="modal hide fade" for="{{id}}">
    <div class="modal-header"><h3>{{label}}</h3></div>
    <div class="modal-body">
        <label class="actionConfirmationDescription">{{description}}</label>
    </div>
    <div class="modal-footer">
        <input type="hidden" class="actionValue" value="{{actionValue}}"></input>
        <button type="button" role="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" role="button" class="btn btn-primary">OK</button>
    </div>
</div>