{{#if label}}
<label>{{label}}</label>
{{/if}}
{{#if options}}
    {{#each options}}
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       name="{{name}}"
                       value="{{value}}"
                        {{#if ../required}}class="required"{{/if}}
                        {{#unless ../editable}}disabled{{/unless}}/> {{label}}
                        {{#if selected}}checked{{/if}}
            </label>
        </div>
    {{/each}}
{{/if}}
{{#if messages}}
{{#each messages}}
<span class="help-inline generated">{{text}}</span>
{{/each}}
{{/if}}