{{#if label}}
<label>{{label}}</label>
{{/if}}
<input class="form-control"
       type="text"
       name="{{name}}"
       maxlength="{{maxValueLength}}"
       size="{{displayValueLength}}"
       data-max-inputs="{{maxInputs}}"
       data-min-inputs="{{minInputs}}"
{{#if required}}class="required"{{/if}}
{{#if customValidity}}oninvalid="setCustomValidity('{{customValidity}}')"{{/if}}
{{#if pattern}}pattern="{{pattern}}"{{/if}}
{{#if value}}value="{{date value}}"{{/if}}
{{#unless readonly}}readonly{{/unless}}
{{#unless editable}}disabled{{/unless}}/>
{{#if messages}}
{{#each messages}}
<span class="help-inline generated">{{text}}</span>
{{/each}}
{{/if}}