{{#if label}}
<label>{{label}}</label>
{{/if}}
<input type="{{type}}"
       name="{{name}}"
       maxlength="{{maxValueLength}}"
       size="{{displayValueLength}}"
       data-max-inputs="{{maxInputs}}"
       data-min-inputs="{{minInputs}}"
       {{#if required}}class="required"{{/if}}
       {{#if customValidity}}oninvalid="setCustomValidity('{{customValidity}}')"{{/if}}
       {{#if pattern}}pattern="{{pattern}}"{{/if}}
       {{#if defaultValue}}placeholder="{{defaultValue}}"{{/if}}
       {{#if value}}value="{{value}}"{{/if}}
       {{#unless editable}}disabled{{/unless}}/>
{{#if messages}}
{{#each messages}}
    <span class="help-inline generated">{{text}}</span>
{{/each}}
{{/if}}