{{#if label}}
<label>{{label}}</label>
{{/if}}
<div>
<input class="form-control"
       id="{{fieldId}}"
       type="{{type}}"
       maxlength="{{maxValueLength}}"
       size="20"
       data-max-inputs="{{maxInputs}}"
       data-min-inputs="{{minInputs}}"
       autocomplete="off"
{{#if required}}class="required"{{/if}}
{{#if customValidity}}oninvalid="setCustomValidity('{{customValidity}}')"{{/if}}
{{#if pattern}}pattern="{{pattern}}"{{/if}}
placeholder="Start typing name"
{{#unless editable}}name="{{name}}" data-pw-person-lookup="{{fieldId}}" disabled{{/unless}}/>
{{#if editable}}
<input type="hidden" name="{{name}}" data-pw-person-lookup="{{fieldId}}"/>
{{/if}}
</div>
{{#if messages}}
{{#each messages}}
<span class="help-inline generated">{{text}}</span>
{{/each}}
{{/if}}