{{#if label}}
<label>{{label}}</label>
{{/if}}
<select name="{{name}}"
    {{#if required}}class="form-control required"{{else}}class="form-control"{{/if}}>
    {{#if options}}
        {{#each options}}
            <option value="{{value}}"
                {{#if selected}}selected{{/if}}
            >
            {{#if label}}
                {{label}}
            {{else}}
                {{value}}
            {{/if}}
            </option>
        {{/each}}
    {{/if}}
</select>
{{#if messages}}
{{#each messages}}
<span class="help-inline generated">{{text}}</span>
{{/each}}
{{/if}}