{{#if label}}
<label>{{label}}</label>
{{/if}}
{{#if editable}}
<input class="form-control"
       type="{{type}}"
       name="{{name}}"
       maxlength="{{maxValueLength}}"
       size="{{displayValueLength}}"
       data-max-inputs="{{maxInputs}}"
       data-min-inputs="{{minInputs}}"
{{#if accept}}accept={{accept}}{{/if}}
{{#if required}}class="required"{{/if}}
{{#if customValidity}}oninvalid="setCustomValidity('{{customValidity}}')"{{/if}}
{{#if pattern}}pattern="{{pattern}}"{{/if}}
{{#if defaultValue}}placeholder="{{defaultValue}}"{{/if}} />
{{else}}
<p class="text-muted">No files</p>
{{/if}}
{{#if messages}}
{{#each messages}}
<span class="help-inline generated">{{text}}</span>
{{/each}}
{{/if}}