{{#if label}}
<label>{{label}}</label>
{{/if}}
{{#if options}}
    {{#each options}}
        <label class="checkbox">
            <input type="checkbox"
                   name="{{../name}}"
                   value="{{value}}"
                    {{#if ../required}}required{{/if}}/> {{label}}
                    {{#if selected}}checked{{/if}}
        </label>
    {{/each}}
{{/if}}
{{#if messages}}
    {{#each messages}}
        <div class="alert fade in alert-{{type}}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{text}}
        </div>
    {{/each}}
{{/if}}