{{#if screen.readonly}}
    {{#if task}}
        {{#if task.active}}
        <div class="alert alert-info">This form cannot be modified - it is assigned to {{task.assignee.displayName}}</div>
        {{else}}
            {{#if task.endTime}}
                <div class="alert alert-info">This form can no longer be modified - it was completed by {{task.assignee.displayName}} on {{date task.endTime}}</div>
            {{else}}
                <div class="alert alert-info">This form can no longer be modified - it has been suspended</div>
            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}
{{#if screen}}
{{#with screen}}
    <div class="notifications"></div>
    <div class="container">
        <div class="row">
            <div class="crumbs">{{#breadcrumb this}}{{#url "step"}}{{/url}}{{/breadcrumb}}</div>
            <div class="screen" id="{{screenId}}">
                <div class="screen-header"><h2>{{title}}</h2></div>
                <div class="screen-content">

                </div>
                <div class="screen-footer">

                </div>
            </div>
        </div>
    </div>
{{/with}}
{{/if}}
