{{#if screen}}
{{#with screen}}
    <h1>{{title}}</h1>
    {{#breadcrumb groupings}}{{#url "step"}}{{/url}}{{/breadcrumb}}
    <!--{{#each groupings}}-->
        <!--<div class="grouping" id="{{groupingId}}">-->
            <!--{{#if title}}<h2>{{title}}</h2>{{/if}}-->
            <!--{{#if description}}<p class="lead">{{description}}</p>{{/if}}-->
        <!--</div>-->
    <!--{{/each}}-->
    <div class="notifications"></div>
    <div class="screen" id="{{screenId}}">
        <div class="screen-header"></div>
        <fieldset {{#if readonly}}disabled{{/if}}>
            <div class="screen-content">

            </div>
        </fieldset>
        <div class="screen-footer">

        </div>
    </div>
{{/with}}
{{/if}}
