<div class="section-header">
    <h3>{{title}}</h3>
    {{#if description}}
    <p class="lead">{{description}}</p>
    {{/if}}
</div>
<div class="section-content">

</div>
<div class="section-buttons">
    {{#if buttons}}
        {{#each buttons}}
            <button class="btn" role="button" type="{{type}}" value="{{value}}">{{label}}</button>
        {{/each}}
    {{else}}
        <button class="btn btn-primary" role="button" type="submit">Submit</button>
    {{/if}}
</div>