    <a id="filter-button" class="btn btn-link btn-small dropdown-toggle" data-target="limit-dropdown" data-toggle="dropdown" role="button" type="button">
        <span class="dropdown-toggle-text">{{selected}}</span>
        <b class="caret"></b>
    </a>
    <ul id="limit-dropdown" class="dropdown-menu form-inline" role="menu" aria-labelledby="filter-button">
        {{#if options}}
            {{#each options}}
                <li role="presentation" {{#if selected}}class="disabled"{{/if}}>
                    <div class="checkbox-menu-item" role="menuitem" tabindex="-1">
                        <label class="checkbox">
                            <input type="checkbox" id="{{id}}" name="{{key}}" value="{{value}}" role="menuitem" {{#if selected}}checked{{/if}}/> {{label}}
                        </label>
                    </div>
                </li>
            {{/each}}
        {{/if}}
    </ul>