<td><input type="checkbox" class="result-checkbox"/></td>
{{#if task}}
    {{#with task}}
    <td><a href="{{../link}}.html" target="_blank">{{processInstanceLabel}}</a></td>
    <td class="hide-narrow">{{taskLabel}}</td>
    <td class="hide-narrow">{{processDefinitionLabel}}</td>
    <td>{{date startTime}}</td>
    {{/with}}
{{/if}}

